.mynav{
    color: white;
}
.text-line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .loading{
      margin: auto;
      margin-top: 250px;
  }
